* {
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #ddd;
}

/* Style the header */
header {
  padding: 15px;
  float: inline;
  text-align: left;
  font-size: 25px;
  color: #666;
  margin-bottom: 50px;
}

a {
  color: rgb(14, 7, 29);
  padding: 10px 15px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  opacity: 80%;
  font-size: 20px;
}


a:hover {
  opacity: 100%;
}

.head2 {
  float: left;
  margin-right: 10px;
}

.spacing {
  padding-left: 55%;
  margin-right: 10px;
  display: inline-block;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  #head1, header, .head2, nav-right, nav-left {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

/* Create two columns/boxes that floats next to each other */

nav-left {
margin-left: 10%;
margin-right: 5px;
/*box-sizing: border-box;*/

}

nav-right {
  margin-right: 10%;
}

nav-right, nav-left {
  padding-left: 15px;
  width: 39%;
  float: left;
  border: 1px solid #fff;
  text-align: left;
}

nav-right:hover, nav-left:hover {
  background-color: #eee;
}

img {
padding-left: 1px;
width: 40%;
border-radius: 10%;
/*opacity: 80%;*/
}

a img {
/*background-color: white;*/
margin: 0%;
padding: 0%;
width: 80px;
/*border-radius: 100%;*/
}


/* Clear floats after the columns */
section:after {
content: "";
display: table;
clear: both;
margin-bottom: 5px;
}

/* Style the footer */
footer {
background-color: #666;
padding: 10px;
text-align: center;
color: red;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
nav-right, nav-left, article {
  width: 100%;
  height: auto;
}
}

.mid {
border-radius: 25px;
background-color: #f2f2f2;
width: 50%;
margin-left: 25%;
margin-right: 15%;
margin-top: 5px;
padding: 18px 25px;    
}

.labl {
font-size: large;
text-align: left;
}

input[type=text], input[type=number], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline;
border: none;
border-bottom: 2px solid rgb(14, 12, 12);
border-radius: 4px;
box-sizing: border-box;
}

button[type=Submit] {
width: 100%;
background-color: #dbe6dc;
color: rgb(90, 86, 86);
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: medium;
}

button[type=Submit]:hover {
background-color: #0f8d15;
color: red;
}

.details, .title {
  color: red;
  font-size: large;
  font-style: italic;
  padding-right: 15px;
  margin-right: 48%;
}